<page-header section="'Principal'" page="CONFIGS.COMPANY.name"></page-header>

<div class="view-panel">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
    
                <h3>Newsletter</h3>
                <div class="table-responsive">
                    <table class="table table-bordered table-condensed">
                        <thead>
                            <tr>
                                <th>Nome</th>
                                <th>Email</th>
                                <th>Data e Hora</th>
                                <th width="1"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="row in $ctrl.forms">
                                <td>{{row.form.name}}</td>
                                <td>{{row.form.email}}</td>
                                <td>{{row.form.date | date: 'dd/MM/yyyy - H:mm'}}</td>
                                <td><button class="btn btn-danger btn-xs" type="button" ng-click="$ctrl.deleteNews(row.id)">desativar</button></td>
                            </tr>
                        </tbody>
                        <tfoot ng-hide="$ctrl.forms.length">
                            <tr>
                                <td colspan="4">Nenhum email cadastrado</td>
                            </tr>
                        </tfoot>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>